{{ define "content" }}
  <form method="POST" action="/profile/edit" class="long_form">
    Email: <br/>
    <input type="email" id="email" name="email" value="{{.Email}}"/> <br/>
    Name: <br/>
    <input type="text" id="name" name="name" value="{{.Name}}"/> <br/>
    Address: <br/>
    <input type="text" id="address" name="address" value="{{.Address}}" onFocus="geolocate()"/> <br/>
    Telephone: <br/>
    <input type="tel" id="tel" name="tel" value="{{.Tel}}"/> <br/>
    <input type="submit" value="Save changes"/>
  </form>
{{ end }}

{{ define "scripts" }}
  <script>
      var placeSearch, autocomplete;

      function initAutocomplete() {
        autocomplete = new google.maps.places.Autocomplete(
            (document.getElementById('address')),
            {types: ['geocode']});

      }

      function geolocate() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var geolocation = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            var circle = new google.maps.Circle({
              center: geolocation,
              radius: position.coords.accuracy
            });
            autocomplete.setBounds(circle.getBounds());
          });
        }
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBr_F3MMHoaXXF8VkuKAkPJxDSxiTXVeQI&libraries=places&callback=initAutocomplete"
        async defer></script>

  {{ end }}
