{{ define "content" }}
  <form method="POST" action="/reset_password">
    Email: <br/>
    <input type="password" id="password" name="password"/> <br/>
    <input type="hidden" name="token" value="{{.}}"/> <br/>
    <input type="submit"/>
  </form>
{{ end }}
